version: '3'
services:
    nginx:
        image: nginx:1.16.1
        # 端口映射
        ports:
            - "978:978"
        # 依赖关系 先跑php
        depends_on:
            - "php"
        # 数据卷
        volumes:
        # 映射主机./conf.d目录到容器/etc/nginx/conf.d目录
            - "${CONF_D_PATH}:/etc/nginx/conf.d"
            - "${CODE_PATH}:/usr/share/nginx/html"
    php:
        build: ./php
        # image指定build Dockerfile生成镜像的名称
        image: php:7.1-fpm
        ports:
            - "9000:9000"
        volumes:
          - "${CODE_PATH}:/usr/share/nginx/html"
    mysql:
        image: mysql:5.7
        ports:
            - "3306:3306"
        environment:
            # mysql密码
            - MYSQL_ROOT_PASSWORD=password
        volumes:
            - mysql-data:/var/lib/mysql
       
    redis:
        image: redis:latest
        ports:
        - "${REDIS_PORT}:6379"

volumes:
    mysql-data: